/*Barra de navegacion*/
.navbar {
padding: 1px;
background-color: #0c5783
}
.navbar-collapse {
align-items: center;
justify-content: space-between;
}
.nav-item {
  padding: 10px; 
}
.navbar-text{
  color: #fffaf2;
}
.navbar-titulo{
  text-decoration: none;
  align-items: start;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fffaf2;
  text-shadow: 
  -1px -1px 0 black,  
   1px -1px 0 black,
  -1px  1px 0 black,
   1px  1px 0 black; 
}
.navbar-text:hover {
  color: #000000; 
  transform: scale(1.15);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); 
  border-radius: 5px; 
}
.navbar-especial{
  /* padding: 4px;   */
  color: white;
  background-color: #099eb4;
  border: 3px  black;
  border-radius: 4px;
}

/* INICIO ANIMACION DE ICONO DE LA PAGINA */
.icon-navbar-animation {  
  /*animacion hover*/
    &:hover{
        animation: pochoclo-saltando 0.60s infinite;
    }
}
@keyframes pochoclo-saltando{
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* FIN ANIMACION DE ICONO DE LA PAGINA */

/*Estilos generales*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 3.2rem;
    font-family: 'Secular One', sans-serif;
  }
  h2{
    font-size: 1.8rem;
    font-family: "Raleway", sans-serif;

  }
  .seccion-color-azul {
    color: #fffaf2;
    background-color:  #0a7195;
  }
  
  .seccion-color-violeta {
    color:#fffaf2;
    background-color: #099eb4 ;
  }
  /* seccion footer */
  .seccion-footer{
    height: 100px;
    color:#fffaf2;
    background-color: #0c5783 ;
  }


  /* Personalizacion de texto general*/
  .seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Secular One', sans-serif;
  }

  .seccion-debajo-titulo {
    color: white;
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Secular One', sans-serif;
  }
  .seccion-texto {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
  }



/*Seccion inicio*/
.inicio {
  background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/images/fondo-cine.png);
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.inicio .contenedor {
  position: relative;
  overflow: hidden;

}
.inicio-principal {
  color: #fffaf2;
    padding: 3rem;
}

/* Formulario de Buscador */

.search-form {
  text-align: center;
  margin-top: 20px;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  width: 300px;
  margin-right: 10px;
}

.search-button {
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  background-color: #0c5783;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  color: #000000;
  background-color: #0056b3;
  transform: scale(1.08);

}

/*Peliculas*/

.peliculas {
  height: 750px;
  padding: 10px;
}
.peliculas-texto {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
/*.pelicula
{
  position: relative;
  display: inline-block;
}*/
/*.peliculas {*/

  .peliculas {
    .ImgPelicula {
      /*display: block;*/ 
      width: 170px;
      height: auto;
      margin-left: -700px;
      margin-top: -20px;
      /*object-fit: cover;*/
      border-radius: 10px;
                  }

    
      .TituloPelicula 
      {
        color: white;
        width: 135px;
        height: 12;
        margin-left: -665px;
        margin-top: 5px;
      }
  
.ImgPelicula1
{
  width: 170px;
  height: auto;
  margin-left: -700px;
  margin-top: 30px;
  /*object-fit: cover;*/
  border-radius: 10px;
}

.TituloPelicula1
{
  color: white;
  width: 135px;
  height: 12;
  margin-left: -657px;
  margin-top: 15px; 
}

  .ImgPelicula2
  {
    width: 170px;
    height: auto;
    margin-left: -460px;
    margin-top: -1145px;
    /*object-fit: cover;*/
    border-radius: 10px;
  }

  .TituloPelicula2
  {
    color: white;
    width: 135px;
    height: 12;
    margin-left: -440px;
    margin-top: -430px;
  }
  .ImgPelicula3 
  {
    width: 170px;
    height: auto;
    margin-left: -460px;
    margin-top: -450px;
    /*object-fit: cover;*/
    border-radius: 10px; 
  }

  .TituloPelicula3
  {
    color: white;
    width: 135px;
    height: 12;
    margin-left: -415px;
    margin-top: -80px;
  }
  
  .ImgPelicula4
  {
    width: 170px;
    height: auto;
    margin-left: -230px;
    margin-top: -450px;
    /*object-fit: cover;*/
    border-radius: 10px;  
  }

  .TituloPelicula4
  {
    color: white;
    width: 135px;
    height: 12;
    margin-left: -195px;
    margin-top: -90px;
  }

  .ImgPelicula5
  {
    width: 170px;
    height: auto;
    margin-left: -2px;
    margin-top: -462px;
    /*object-fit: cover;*/
    border-radius: 10px;
  }

  .TituloPelicula5
  {
    color: white;
    width: 135px;
    height: 12;
    margin-left: 50px;
    margin-top: -95px;
  }
.ImgPelicula6
{
  width: 170px;
    height: auto;
    margin-left: 225px;
    margin-top: -477px;
    /*object-fit: cover;*/
    border-radius: 10px;
}

.TituloPelicula6
  {
    color: white;
    width: 135px;
    height: 12;
    margin-left: 250px;
    margin-top: -105px;
  }

  .ImgPelicula7
  {
    width: 170px;
    height: auto;
    margin-left: -230px;
    margin-top: -1225px;
    /*object-fit: cover;*/
    border-radius: 10px;
  }

  .TituloPelicula7
  {
    color: white;
    width: 135px;
    height: 12;
    margin-left: -175px;
    margin-top: -468px;
  }

  .ImgPelicula8
  {
    width: 170px;
    height: auto;
    margin-left: 1px;
    margin-top: -1237px;
    /*object-fit: cover;*/
    border-radius: 10px;
  }

  .TituloPelicula8
  {
    color: white;
    width: 135px;
    height: 12;
    margin-left: 20px;
    margin-top: -490px;
  }

  .ImgPelicula9
  {
    width: 170px;
    height: auto;
    margin-left: 225px;
    margin-top: -1250px;
    /*object-fit: cover;*/
    border-radius: 10px;
  }

  .TituloPelicula9
  {
    color: white;
    width: 135px;
    height: 12;
    margin-left: 250px;
    margin-top: -490px;
  }

  .ImgPelicula10
  {
    width: 170px;
    height: auto;
    margin-left: 450px;
    margin-top: -1265px;
    /*object-fit: cover;*/
    border-radius: 10px;
  }

  .TituloPelicula10
  {
    color: white;
    width: 135px;
    height: 12;
    margin-left: 480px;
    margin-top: -510px;
  }
  .ImgPelicula11
  {
    width: 170px;
    height: auto;
    margin-left: 450px;
    margin-top: -560px;
    /*object-fit: cover;*/
    border-radius: 10px;
  }
  .TituloPelicula11
  {
    color: white;
    width: 135px;
    height: 12;
    margin-left: 518px;
    margin-top: -145px;
  }
  .ImgPelicula12
  {
    width: 170px;
    height: auto;
    margin-left: 680px;
    margin-top: -1300px;
    /*object-fit: cover;*/
    border-radius: 10px;
  }

  .TituloPelicula12
  {
    color: white;
    width: 135px;
    height: 12;
    margin-left: 730px;
    margin-top: -510px;
  }
  .ImgPelicula13
  {
    width: 170px;
    height: auto;
    margin-left: 680px;
    margin-top: -592px;
    /*object-fit: cover;*/
    border-radius: 10px;
  }
  .TituloPelicula13
  {
    color: white;
    width: 135px;
    height: 12;
    margin-left: 730px;
    margin-top: -180px;
  }

}

/*Series*/
.series {
  height: 500px;
  padding: 10px;
  
}
.series-texto {
 font-size: 15px;
 font-family: "Roboto", sans-serif; 
}
.arrow-up{

  filter: invert(100%);
}

/* Registro */
.bodyRegistrarse {
  background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/images/registro_foto.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Inicio Sesion */
.bodyInicio-Sesion {
  background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/images/inicio_sesion_foto.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}